/.git
/.sass-cache
/node_modules
/bower_components
/source/common/js/import.js
/source/common/js/import.js.map
/styleguide
/source/styleguide
yarn.lock
*.css
*.html
*.bat
*.db
*.dll
*.svn-base
*.mno
!/templates/**/*.css
!/templates/**/*.html
