@charset "utf-8";
.mod {
/*
---
name: アンカータグのブロック要素化
tag:
  - block
category:
  - module
  - module/anchor
---
anchorタグをblock要素にし、横幅縦幅100%にします。
```html
<a href="#" class="mod-a">テスト</a>
```
*/
&-a {
	display: block;
	width: 100%;
	height: 100%;
}




}
